APP_NAME="SAE-BO"
TZ=UTC
#
PORT=3333
HOST=127.0.0.1
#
LOG_LEVEL=info
APP_KEY=7zse9xTOBfiUo9cSQx2qJ3K7apSduS8r
#
NODE_ENV=development
#
DB_CONNECTION="mysql"
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=""
DB_DATABASE=""
#
SESSION_DRIVER=cookie
#
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USERNAME=""
SMTP_PASSWORD=""
#
API_BIOMETRICS_HOST=""
#
API_BIOMETRICS_EMPLOYEE_PHOTO_URL=""
# 
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION=""
AWS_BUCKET=""
AWS_URL=""
AWS_ENDPOINT=""
AWS_ROOT_NAME="sae-rh-system"
AWS_ROOT_PATH="sae-rh-system"
# 
# ================================================
# Empresas a considerar en las consultas, lista de slug separada por comas
# ================================================
SYSTEM_BUSINESS=""
# 
MONGODB_HOST=""
MONGODB_PORT=""
MONGODB_USER=""
MONGODB_PASSWORD=""
MONGODB_DB_NAME=""
#
BACKGROUND_IMAGE_LOGO='https://sae-assets.sfo3.cdn.digitaloceanspaces.com/general/logos/logo_sae.webp'