<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="color-scheme" content="light dark">
  <meta name="supported-color-schemes" content="light dark">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://sae-assets.sfo3.cdn.digitaloceanspaces.com/general/logos/logo_sae_jpg.jpeg" rel="stylesheet">
</head>
<body style="background-color: #f5f5fa; padding: 0rem; padding-top: 1rem; padding-bottom: 1rem; color: #303e67; font-family: 'Tajawal', sans-serif;">
  <div class="email" style="width: 100%; max-width: 600px; background-color: #fefefe; min-height: 10rem; border-radius: 0.3rem; margin: auto; box-shadow: 0.1rem 0.1rem 0.2rem #f1f5f9; padding: 1.5rem; box-sizing: border-box;">
    <div class="head" style="background-color: white;">
      <img src="https://sae-assets.sfo3.cdn.digitaloceanspaces.com/general/logos/logo_sae.webp" style="width: 7rem;">
    </div>
    <div class="banner">
      <img src="https://sae-assets.sfo3.cdn.digitaloceanspaces.com/email-banners/password-recovery-banner-min.png" style="width: 100%; border-radius: 0.3rem; height: 20rem; object-fit: cover; margin-top: 0rem; background-color: #f1f5f9;">
    </div>
    <div class="welcome" style="margin-top: 0rem; text-align: left;">
      <h2 style="font-size: 1.25rem; text-transform: capitalize; margin-bottom: 0; text-align: center;">
        Recover password
      </h2>
      <p style="font-size: 1rem; text-wrap: pretty; color:#303e67;">
        Hi,
        <span style="text-transform: capitalize;">
          {{ user?.person?.personFirstname ?? '[[ name ]]' }}
          {{ user?.person?.personLastname ?? '[[ lastname ]]' }}
        </span>
        <br>
        <br>
        Recently, someone requested to change the password for your account.
        <br>
        with the following email address
        <br>
        <br>
        {{ user?.userEmail ?? '[[ userEmail ]]' }}
        <br>
        <br>
        If you requested the change, you can create a new password by clicking on the following link.
        <br>
        <br>
        <a href="{{ host_data.host_uri }}/new-password/{{ token ?? '' }}" target="_blank" style="padding: 1rem; text-align: center; display: block; background-color: {{ host_data.primary_color }}; color: #fff; text-decoration: none; border-radius: 0.3rem;">
          Recover password
        </a>
      </p>
      <div style="border: 1px dashed #e3ebf6; padding: 1.5rem; border-radius: 0.3rem; text-align: left; font-size: 0.9rem; text-wrap: pretty;">
        If you do not want to change your password or did not request it, please ignore and delete this message.
        <br>
        <br>
        To protect your account, do not forward this message to others.
      </div>
    </div>
  </div>
</body>
</html>
