<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="color-scheme" content="light dark">
  <meta name="supported-color-schemes" content="light dark">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap" rel="stylesheet">
</head>
<body style="background-color: #f5f5fa; padding: 0rem; padding-top: 1rem; padding-bottom: 1rem; color: #303e67; font-family: 'Tajawal', sans-serif;">
  <div class="email" style="width: 100%; max-width: 600px; background-color: #fefefe; min-height: 10rem; border-radius: 0.3rem; margin: auto; box-shadow: 0.1rem 0.1rem 0.2rem #f1f5f9; padding: 1.5rem; box-sizing: border-box;">
    <div class="head" style="">
      <img src="{{ host_data.logo_path }}" style="width: 7rem;">
    </div>
    <div class="banner">
      <img src="https://assets-files.sfo3.digitaloceanspaces.com/fliphouse/assets/emails/password-reset/3abf5718-d3ea-4393-8ac5-52f2f8ae966c.png" style="width: 100%; border-radius: 0.3rem; height: 20rem; object-fit: cover; margin-top: 0rem; background-color: #f1f5f9;">
    </div>
    <div class="welcome" style="margin-top: 0rem; text-align: left;">
      <h2 style="font-size: 1.25rem; text-transform: capitalize; margin-bottom: 0; text-align: center;">
        Recuperar contraseña
      </h2>
      <p style="font-size: 1rem; text-wrap: pretty; color:#303e67;">
        Hola,
        <span style="text-transform: capitalize;">
          {{ user?.person?.person_firstname ?? '[[ nombre ]]' }}
          {{ user?.person?.person_lastname ?? '[[ apellido ]]' }}
        </span>
        <br>
        <br>
        Recientemente, alguien solicitó cambiar la contraseña de tu cuenta
        <br>
        con el siguiente correo electrónico
        <br>
        <br>
        {{ user?.user_email ?? '[[ user_email ]]' }}
        <br>
        <br>
        Si solicitaste el cambio, puedes crear una nueva contraseña haciendo click en el siguiente link.
        <br>
        <br>
        <a href="{{ host_data.host_uri }}/nueva-contrasena/{{ token ?? '' }}" target="_blank" style="padding: 1rem; text-align: center; display: block; background-color: {{ host_data.primary_color }}; color: #fff; text-decoration: none; border-radius: 0.3rem;">
          Recuperar contraseña
        </a>
      </p>
      <div style="border: 1px dashed #e3ebf6; padding: 1.5rem; border-radius: 0.3rem; text-align: left; font-size: 0.9rem; text-wrap: pretty;">
        Si no quieres cambiar tu contraseña o no solicitaste hacerlo, ignora y elimina el mensaje.
        <br>
        <br>
        Para proteger tu cuenta, no reenvíes este mensaje a otras personas.
      </div>
    </div>
  </div>
</body>
</html>
