<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="color-scheme" content="light dark">
  <meta name="supported-color-schemes" content="light dark">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://sae-assets.sfo3.cdn.digitaloceanspaces.com/general/logos/logo_sae_jpg.jpeg" rel="stylesheet">
</head>
<body style="background-color: #f5f5fa; padding: 0rem; padding-top: 1rem; padding-bottom: 1rem; color: #303e67; font-family: 'Tajawal', sans-serif;">
  <div class="email" style="width: 100%; max-width: 600px; background-color: #fefefe; min-height: 10rem; border-radius: 0.3rem; margin: auto; box-shadow: 0.1rem 0.1rem 0.2rem #f1f5f9; padding: 1.5rem; box-sizing: border-box;">
    <div class="head" style="background-color: white;">
      <img src="https://sae-assets.sfo3.cdn.digitaloceanspaces.com/general/logos/logo_sae.webp" style="width: 7rem;">
    </div>
    <div class="welcome" style="margin-top: 0rem; text-align: left;">
      <h2 style="font-size: 1.25rem; text-transform: capitalize; margin-bottom: 0; text-align: center;">
        Permission Request Status Update
      </h2>
      <p style="font-size: 1rem; text-align: left; color: #303e67;">
        Dear User,
      </p>
      <p style="font-size: 0.9rem; text-align: left; color: #303e67;">
        The status of your permission request has been updated.
      </p>
      <ul style="list-style-type: none; padding-left: 0;">
        <li><strong>New Status:</strong> {{ newStatus }}</li>
      </ul>
      @if(newDescription)
          <ul style="list-style-type: none; padding-left: 0;">
        <li><strong>Description:</strong> {{ newDescription }}</li>
      </ul>
      @endif
      <div style="border: 1px dashed #e3ebf6; padding: 1.5rem; border-radius: 0.3rem; text-align: left; font-size: 0.9rem; text-wrap: pretty;">
        This notification is intended to inform you about the change in the status of your permission request.
        <br>
        <br>
        If you have any questions, please do not hesitate to reach out.
      </div>
    </div>
  </div>
</body>
</html>
